@charset "UTF-8";

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: left;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}
ul{
	float: center;
}