<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">
	
	<!-- 관리자용 문의 사항 관리 -->
	<select id="qnaList" resultType="com.tr.VO.QnaVO">
		Select *
		FROM TR_QNA
	</select>
	
	<!-- 관리자용 주문 내역 불러오기 -->
	<select id="orderList" resultType="com.tr.VO.OrderVO">
		Select *
		FROM TR_ORDER
		ORDER BY oDate DESC
	</select>
	
	<!-- 관리자용 상품관리 -->
	<select id="productList" resultType="com.tr.VO.ProductVO">
		Select *
		FROM TR_PRODUCT
		ORDER BY pNo DESC
	</select>
	
	<!-- 제품 등록 -->
	<insert id="productAdd">
		INSERT INTO TR_PRODUCT(PNO,PNAME,PPRICE,PCOUNT,PINFO)
		VALUES (#{pNo}||sq_${pNo}.nextval,#{pName},#{pPrice},#{pCount},#{pInfo})
	</insert>
	
	<!-- 제품 조회 -->
	<select id="productView" resultType="com.tr.VO.ProductVO">
		Select pNO,pName,pPrice,pCount,pInfo
		from tr_product
		where pNo=#{pNo}
	</select>
	
	<!-- 제품 수정 -->
	<update id="productModify">
		update tr_product
		set pNo=#{pNo},
			pName=#{pName},
			pPrice=#{pPrice},
			pCount=#{pCount},
			pInfo=#{pInfo}
		where pNo=#{pNo}
	</update>
	
	<!-- 제품 삭제	 -->
	<delete id="productDelete">
	delete	tr_product
	where pNo = #{pNo}
	</delete>
	<!-- 주문 처리 -->
	<update id="delivery">
		update TR_ORDER
			set DELIVERY=#{delivery}
		where NO=#{no}
	</update>
	<!-- 주문 내역 조회 -->
	<select id="orderView" resultType="com.tr.VO.OrderVO">
		Select no,name,addr,phone,count,oDate,delivery
		from tr_order
		where no=#{no}
	</select>
	<!-- 주문 수정 -->
	<update id="orderModify">
		update tr_order
		set no=#{no},
			name=#{name},
			addr=#{addr},
			phone=#{phone},
			pName=#{pName},
			count=#{count}
		where no=#{no}
	</update>
	<!-- 제품 삭제	 -->
	<delete id="orderDelete">
	delete	tr_order
	where no = #{no}
	</delete>
	<!-- 회원 조회 -->
	<select id="memberView" resultType="com.tr.VO.MemberVO">
		Select userId,userName,userEmail,userPhone,userAddr,userBday
		from tr_member
		where userId=#{userId}
	</select>
	<!-- 회원 수정 -->
	<update id="memberModify">
		update tr_member
		set userId=#{userId},
			userName=#{userName},
			userEmail=#{userEmail},
			userPhone=#{userPhone},
			userAddr=#{userAddr},
			userBday=#{userBday}
		where userId=#{userId}
	</update>
	<!-- 제품 삭제	 -->
	<delete id="memberDelete">
	delete	tr_member
	where userId = #{userId}
	</delete>
	
	<!-- 문의 사항 조회 -->
	<select id="qnaView" resultType="com.tr.VO.QnaVO">
		SELECT qNo,qTitle,qWriter,qContent,qDate
		FROM tr_qna
		where qNo=#{qNo}
	</select>
	<!-- 문의 사항 삭제	 -->
	<delete id="qnaDelete">
	delete	tr_qna
	where qNo = #{qNo}
	</delete>
	
	<!-- 댓글 조회 -->
	<select id="replyView" resultType="com.tr.VO.ReplyVO">
		SELECT qNo,rNo,rContent,rWriter,rDate
		FROM tr_reply
		where qNo=#{qNo}
	</select>
	<!-- 댓글 작성 -->
	<insert id="replyWrite">
		Insert Into tr_reply(qNo,rNo,rContent)
		Values(#{qNo},sq_reply.nextval,#{rContent})
	</insert>
	<!-- 댓글 수정 -->
	<update id="replyUpdate" parameterType="com.tr.VO.ReplyVO">
		Update tr_reply SET rContent=#{rContent}
		where rNo = #{rNo}
	</update>
	<!-- 댓글 삭제 -->
	<delete id="replyDelete" parameterType="com.tr.VO.ReplyVO">
		Delete From tr_reply
		where rNo=#{rNo}
	</delete>
	<!-- 선택된 댓글 조회 -->
	<select id="replySelect" resultType="com.tr.VO.ReplyVO">
		select qNo,rNo,rContent,rWriter,rDate
		From tr_reply
		where rNo=#{rNo}
	</select>
	
	
	
	
	
</mapper>