<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderMapper">


	<!-- 주문서 상품 조회 -->
	<select id="orderlist" resultType="com.tr.VO.CartVO">
		SELECT 		c.cId, c.userId, p.pNo, m.userName, p.pName, p.pImg, c.count, p.pPrice, (c.count * p.pPrice) as money
		FROM			tr_member m, tr_pro p, tr_cart c
		WHERE		m.userId = c.userId
		AND			p.pNo = c.pNo
		AND			c.cId = #{cId}
	</select>


	<!-- 주문완료 -->
	<insert id="order">
		INSERT INTO tr_order(oId, userId, rName, rAddr, rPhone, oMemo, oDate, oTotal, oState)
		VALUES(#{oId}, #{userId}, #{rName}, #{rAddr}, #{rPhone}, #{oMemo}, #{oDate}, #{oTotal}, DEFAULT)
	</insert>
	
	<!-- 주문상세정보 -->
	<insert id="orderInfo">
		INSERT INTO tr_orderDetails(orderDetailsId, oId, pNo, count)
		SELECT sq_orderDetails.NEXTVAL, #{oId}, pNo, count
		FROM tr_cart
		WHERE cId = #{cId}
	</insert>
	
		<!-- 마이페이지_주문내역상세 -->
	<select id="orderDetail" resultType="com.tr.VO.OrderListVO">
		SELECT o.oId, o.userId, o.rName, o.rAddr, o.rPhone, o.oMemo, o.oDate, p.pName, p.pImg, p.pPrice, p.pInfo, d.count, o.oState, d.pNo, (p.pPrice * d.count)as oTotal
		FROM tr_order o
		INNER JOIN		tr_orderDetails d ON o.oId = d.oId
		INNER JOIN		tr_pro p ON d.pNo = p.pNo
		WHERE			o.userId = #{userId}
		AND				o.oId = #{oId}
	</select>
	
	<!-- 주문완료 상품 삭제 -->
	<delete id="orderDelete">
		DELETE FROM tr_cart
		WHERE userId = #{userId}
		AND	cId = #{cId}
	</delete>

</mapper>