@charset "UTF-8";


:root {
  --bs-title: #3FB0C8;	
  --bs-font: #5A443F;
  --bs-bg: #E3D9CD;
	
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}


body{
	margin: 0px;
	padding: 0px;
}

#header{
	position: fixed;
	width: 100%;
	height: 7.6rem;
	background: #E3D9CD;
}

/* 메인 */
#main .title {
	width: 15rem;
	margin-left: 15rem;
	padding-top: 11rem;
	padding-bottom: 0.4rem;
	padding-left: 0.5rem;
	font-size: 14px;
	color: #5A443F;
	border-bottom: 2px solid lightgray;
}
.title > span {
	font-weight: bold;
	color: #3FB0C8;
}

/* 회원탈퇴 */
#Dcontent {
	display: flex;
	width: calc(100% - 20rem);
	height: 13rem;
	margin-top: 3.5rem;
	margin-bottom: 0.5rem;
	margin-left: 25rem;
 	font-family: 'Gowun Dodum', sans-serif;
}
#Dcontent table{
	width: 100%;
	border-collapse: collapse;
	margin-left: 2rem;
}
#Dcontent th:not(.check){
	border-bottom: 1.5px solid black;
	padding-bottom: 1.5rem;
}
#Dcontent span{
	color: red;
}
#Dcontent .text{
	padding-top: 3rem;
	padding-bottom: 3rem; 
}

/* 아이디&비밀번호 */
.check{
	padding-left: 8rem;
	color: #3FB0C8;
}
.check th{
	padding-right: 10px;
}

/* 버튼 */
#btn{
	padding: 1.5rem 0;
	text-align: center;
	font-weight: bold;
}
#Dcontent .rBtn{
	background-color: transparent;
	border: none;
	box-shadow: rgba(211, 16, 6, 0.8) 0 0px 0px 2px inset;
	color: rgba(211, 16, 6, 0.8);
	padding: 0.5rem 1.2rem;
	border-radius: 7px;
}
#Dcontent .rBtn:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(211, 16, 6, 0.8) 0 0px 0px 40px inset;
}
#Dcontent .sBtn{
	background-color: transparent;
	border: none;
	box-shadow: rgba(7, 157, 58, 0.8) 0 0px 0px 2px inset;
	color: rgba(7, 157, 58, 0.8);
	padding: 0.5rem 1.2rem;
	border-radius: 7px;
}
#Dcontent .sBtn:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(7, 157, 58, 0.8) 0 0px 0px 40px inset;
}
.swal-overlay {
  background-color: rgba(225, 230, 240, 0.45);
}
