@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
  --bs-title: #3FB0C8;	
  --bs-font: #5A443F;
  --bs-bg: #E3D9CD;
	
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}


body{
	margin: 0px;
	padding: 0px;
}

#header{
	position: fixed;
	width: 100%;
	height: 7.6rem;
	background: #E3D9CD;
	z-index:1000;
}

/* 메인 */
#main .title {
	width: 15rem;
	margin-left: 15rem;
	padding-top: 11rem;
	padding-bottom: 0.4rem;
	padding-left: 0.5rem;
	font-size: 14px;
	color: #5A443F;
	border-bottom: 2px solid lightgray;
 	font-family: 'Gowun Dodum', sans-serif;
}

.title > span {
	font-weight: bold;
	color: #3FB0C8;
}

#content {
	display: flex;
	width: calc(100% - 20rem);
	height: 13rem;
	margin-top: 3.5rem;
	margin-bottom: 0.5rem;
	margin-left: 16rem;
	border: 1.8px solid lightgray;
	font-family: 'Gowun Dodum', sans-serif;
}

/* 배송상태 */
.badge {
  display: inline-block;
  padding: 0.1em 0.2em;
  margin-left: 2rem;
  font-family: 'Gowun Dodum', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
.badge:empty {
  display: none;
}
.badge.bg-light {
  color: #343a40;
}
.rounded-pill {
  border-radius: 0.5rem !important;
}
.bg-warning {
  background-color: #f0ad4e !important;
}
.bg-success{
  background-color: #52935A !important;
}

/* 상품 정보 */
#content .no {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
#content .image {
	width: 13rem;	
	height: auto;	
	margin-left: 2rem;
}
#content img {
	width: 80%;
	height: 80%;
	margin-top: 1.5rem;
}
#content .info {
	padding-top: 2rem;
	padding-left: 2rem;
}
#content .oId{
	color: #3FB0C8;
	font-size: 1.3rem;
	font-weight: 800;
}
#content .date{
	display: block;
	color: #766E6E;
	font-size: 0.8rem;
	height: 0.1rem;
}
#content .spacing {
	margin: 0rem 1rem;
}
#content .name{
	font-size: 1.2rem;
}
#content .spacing a{
	text-decoration: none;
	color: lightsteelblue;
}
#content .spacing a:hover{
	color: lightcoral;
}

/* 주문상세 */
#dcontent{
	font-family: 'Gowun Dodum', sans-serif;
	display: inline-block;
	width: calc(100% - 20rem);
	height: 13rem;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	margin-left: 16rem;
}

#dcontent span, #dcontent span, #dcontent span{
	display: block;
	color: #1449A9;
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

#info{
	width: 100%;
	height: 50%;	
	margin-bottom: 5rem;
}
#info table{
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}
#info th{
	border-bottom: 1px solid black;
	padding: 5px;
}



#person{
	display: flex;
	width: 100%;
	height: 60%;	
	margin-left: auto;
	margin-right: auto;
}
.re{
	width: 50%;
	height: auto;
}
.re table{
	table-layout: fixed;
	border-collapse: collapse;
	text-align: left;
}
.re tr{
	margin: 5px 0px;
}
.re th{
	padding-right: 20px;
	border-right: 1.5px solid black;
}
.re td{
	padding-left: 20px;
}
.memo{
	width: 50%;
	height: auto;
}



#product{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
}
#product table{
	width: 100%;
	height: 5rem;
	table-layout: fixed;
	border-collapse: collapse;
	text-align: center;
}
#product th{
	border-bottom: 1.5px solid black !important;
}
#product td{
	border-bottom: 0.5px solid lightgray;
}
#product tr:last-child{
	border-bottom: 1px solid black;	
}
#product img{
	width: 100%;
	height: 10rem;
	background-size: contain;
}
#product .total {
	color: #3FB0C8;
	font-weight: 800;
	border-left: 0.5px solid lightgray;
}

#product a{
	margin: 5rem auto;
	width: 5rem;
	height: 2.5rem;
}


/* 버튼 */
.btn{
	background-color: transparent;
	border: none;
	box-shadow: rgba(7, 157, 58, 0.8) 0 0px 0px 2px inset;
	color: rgba(7, 157, 58, 0.8);
	padding: 0.5rem 1.2rem;
	margin-left: 45%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-radius: 7px;
}
.btn:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(7, 157, 58, 0.8) 0 0px 0px 40px inset;
}
#userInfo{
	background-color: transparent;
	border: none;
	box-shadow: rgba(118, 118, 118, 0.8) 0 0px 0px 2px inset;
	color: rgba(118, 118, 118, 0.8);
	padding: 0.5rem 1.2rem;
	margin-bottom: 2rem;
	border-radius: 7px;
}
#userInfo:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(63, 176, 200, 0.8) 0 0px 0px 40px inset;
}
.pay{
	background-color: transparent;
	border: none;
	box-shadow: rgba(7, 157, 58, 0.8) 0 0px 0px 2px inset;
	color: rgba(7, 157, 58, 0.8);
	padding: 0.5rem 3rem;
	border-radius: 7px;
}
.pay:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(7, 157, 58, 0.8) 0 0px 0px 40px inset;
}







/* 주문서 */
#main .ordertitle{
	width: 15rem;
	margin-left: auto;
	margin-right: auto;
	padding-top: 11rem;
	padding-left: 0.5rem;
	font-size: 34px;
	font-weight: 800;
	text-align: center;
}
#ocontent{
	font-family: 'Gowun Dodum', sans-serif;
	display: inline-block;
	width: calc(100% - 20rem);
	height: 13rem;
	margin-bottom: 0.5rem;
	margin-left: 11rem;
}
#oproduct span, #ome span, #total span{
	display: block;
	border-bottom: 3px solid #1449A9;
	color: #1449A9;
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 7rem;
	margin-bottom: 3rem;
	padding-left: 3rem;	
}

#oproduct{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
}
#oproduct table{
	width: 100%;
	height: 5rem;
	table-layout: fixed;
	border-collapse: collapse;
	text-align: center;
}
#oproduct td{
	border-bottom: 0.5px solid lightgray;
}
#oproduct tr:last-child{
	border-bottom: 1px solid black;	
}
#oproduct img{
	width: 100%;
	height: 10rem;
	background-size: contain;
}
#oproduct .price {
	color: #3FB0C8;
	font-weight: 800;
}


#ome{
	width: 100%;
	height: auto;
}
#ome table{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	text-align: center;
	margin-top: -2rem;
}
#ome th{
	width: 30%;
}
#ome td{
	width: 70%;
}


#total{
	display: flex;
	width: 100%;
	height: 60%;	
	margin-left: auto;
	margin-right: auto;
}
#total .memo{
	display: inline;
}
.operson{
	width: 50%;
	height: auto;
}
.operson table{
	table-layout: fixed;
	border-collapse: collapse;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
.operson td{
	padding-left: 50px;
}
.money{
	width: 50%;
	height: auto;
	padding-left: 5rem;
}
.money table{
	table-layout: fixed;
	border-collapse: collapse;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
.money tr{
	margin: 5px 0px;
}
.money th{
	padding-right: 20px;
}
.money td{
	padding-left: 50px;
}
#paybtn{
	margin-left: 45%;
	padding-top: 10%;
	padding-bottom: 5%;
}