@charset "UTF-8";

:root {
  --bs-title: #3FB0C8;	
  --bs-font: #5A443F;
  --bs-bg: #E3D9CD;
	
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}





body{
	margin: 0px;
	padding: 0px;
}
#header{
	position: fixed;
	width: 100%;
	height: 7.6rem;
	background: #E3D9CD;
}

/* 메인 */
#main .title {
	width: 15rem;
	margin-left: 15rem;
	padding-top: 11rem;
	padding-bottom: 0.4rem;
	padding-left: 0.5rem;
	font-size: 14px;
	color: #5A443F;
	border-bottom: 2px solid lightgray;
}

.title > span {
	font-weight: bold;
	color: #3FB0C8;
}


/* 문의내용 */
#content {
	display: flex;
	width: calc(100% - 20rem);
	height: 13rem;
	margin-top: 3.5rem;
	margin-bottom: 0.5rem;
	margin-left: 16rem;
	font-family: 'Gowun Dodum', sans-serif;
}
#content table{
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}
#content th{
	border-bottom: 1.5px solid black;
	padding: 5px;
}
#content th:nth-child(1){
	width: 10%
}
#content th:nth-child(2){
	width: 30%;
}
#content th:nth-child(3){
	width: 60%;
}
#content td{
	border-bottom: 0.5px solid lightgray;
}
#content tr:last-child{
	border-bottom: 1px solid black;	
}
#content a{
	text-decoration: none;
	color: #5A443F;
}
#content a:hover{
	color: #3FB0C8;
}
